%h1 Resources
%ol#index-entries.classes
  %li
    %a{:target => 'docwin', :href => "files/#{@options.main_page.gsub(/\.rdoc/, '_rdoc.html')}"} README
  = render_class_tree values[:classes].select { |x| x.full_name !~ /::/ }
